<div tabindex="-1" class="modal fade in" id="ExpenseReimbursementEdit" role="dialog" aria-hidden="true" style="padding-right: 17px;">
    <div class="modal-dialog modal-lg modelWith">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel1">@OABordrinCommon.Common.GetLanguageValueByParam("新建费用申请", "ERCommon", "ERItemType", ViewBag.language)</h4>
            </div>
            <div class="errorMessage fa fa-exclamation-triangle" style="background-color: #f4eedc; width:100%;padding:5px; display: none;"><span style="margin-left:10px;"></span></div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input type="hidden" name="Id" />
                    <input type="hidden" name="status" />
                    <input type="hidden" name="activityId" />
                    <input type="hidden" name="activityAssignmentId" />
                    <input type="hidden" name="b_RecordNo" />
                    <input type="hidden" name="b_IsHangUp" />
                    <input type="hidden" name="b_HangUpActivityName" />
                    <div class="form-group">
                        <label class="col-sm-1 control-label">@OABordrinCommon.Common.GetLanguageValueByParam("公司代码", "b_ExpenseReimbursement", "ERItemType", ViewBag.language)</label>
                        <div class="col-sm-3">
                            <select class="form-control" name="b_CompanyCode" placeholder="@OABordrinCommon.Common.GetLanguageValueByParam("必填项", "CommonName", "Common", ViewBag.language)" isnotnull="true"></select>
                        </div>
                        <label class="col-sm-1 control-label"> @OABordrinCommon.Common.GetLanguageValueByParam("报销所在地", "b_ExpenseReimbursement", "ERItemType", ViewBag.language)</label>
                        <div class="col-sm-3">
                            <select name="b_ReimbursementPlace" class="form-control" isnotnull="true"></select>
                        </div>
                        <label class="col-sm-1 control-label">@OABordrinCommon.Common.GetLanguageValueByParam("是否预算内", "b_ExpenseReimbursement", "ERItemType", ViewBag.language)</label>
                        <div class="col-sm-3">
                            <label style="padding-top:5px;"><input class="i-checks" type="radio" name="b_IsBudgetary" value="true"> <i></i>&nbsp;@OABordrinCommon.Common.GetLanguageValueByParam("是", "ERCommon", "ERItemType", ViewBag.language)&nbsp;</label>
                            <label><input class="i-checks" type="radio" name="b_IsBudgetary" value="false"> <i></i>&nbsp;@OABordrinCommon.Common.GetLanguageValueByParam("否", "ERCommon", "ERItemType", ViewBag.language)&nbsp;</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">@OABordrinCommon.Common.GetLanguageValueByParam("报销类型", "b_ExpenseReimbursement", "ERItemType", ViewBag.language)</label>
                        <div class="col-sm-3">
                            <label style="padding-top:5px;"><input class="i-checks" type="radio" name="b_Type" value="Non Project"> <i></i>&nbsp;@OABordrinCommon.Common.GetLanguageValueByParam("非项目", "b_ExpenseReimbursement", "ERItemType", ViewBag.language)&nbsp;</label>
                            <label><input class="i-checks" type="radio" name="b_Type" value="Project"> <i></i>&nbsp;@OABordrinCommon.Common.GetLanguageValueByParam("项目", "b_ExpenseReimbursement", "ERItemType", ViewBag.language)&nbsp;</label>
                        </div>
                        <label class="col-sm-1 control-label">@OABordrinCommon.Common.GetLanguageValueByParam("代申请人", "b_ExpenseReimbursement", "ERItemType", ViewBag.language)</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="b_Preparer" disabled="disabled" placeholder="@OABordrinCommon.Common.GetLanguageValueByParam("必填项", "CommonName", "Common", ViewBag.language)" isnotnull="true" />
                        </div>
                        <label class="col-sm-1 control-label">@OABordrinCommon.Common.GetLanguageValueByParam("代申请人工号", "b_ExpenseReimbursement", "ERItemType", ViewBag.language)</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="b_PreparerNo" placeholder="@OABordrinCommon.Common.GetLanguageValueByParam("必填项", "CommonName", "Common", ViewBag.language)" isnotnull="true" disabled="disabled" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">@OABordrinCommon.Common.GetLanguageValueByParam("申请日期", "b_ExpenseReimbursement", "ERItemType", ViewBag.language)</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="b_ApplicationDate" placeholder="@OABordrinCommon.Common.GetLanguageValueByParam("必填项", "CommonName", "Common", ViewBag.language)" isnotnull="true" disabled="disabled" />
                        </div>
                        <label class="col-sm-1 control-label">@OABordrinCommon.Common.GetLanguageValueByParam("申请人", "b_ExpenseReimbursement", "ERItemType", ViewBag.language)</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="b_Employee" placeholder="@OABordrinCommon.Common.GetLanguageValueByParam("必填项", "CommonName", "Common", ViewBag.language)" isnotnull="true" />
                        </div>
                        <label class="col-sm-1 control-label">@OABordrinCommon.Common.GetLanguageValueByParam("申请人工号", "b_ExpenseReimbursement", "ERItemType", ViewBag.language)</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="b_StaffNo" placeholder="@OABordrinCommon.Common.GetLanguageValueByParam("必填项", "CommonName", "Common", ViewBag.language)" isnotnull="true" disabled="disabled" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" style="display:none;"> @OABordrinCommon.Common.GetLanguageValueByParam("职务", "b_ExpenseReimbursement", "ERItemType", ViewBag.language)</label>
                        <div class="col-sm-3" style="display:none;">
                            <input type="text" class="form-control" name="b_Position" placeholder="@OABordrinCommon.Common.GetLanguageValueByParam("必填项", "CommonName", "Common", ViewBag.language)" />
                        </div>
                        <label class="col-sm-1 control-label">@OABordrinCommon.Common.GetLanguageValueByParam("申请部门", "b_ExpenseReimbursement", "ERItemType", ViewBag.language)</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="b_Dept" placeholder="@OABordrinCommon.Common.GetLanguageValueByParam("必填项", "CommonName", "Common", ViewBag.language)" isnotnull="true" disabled="disabled" />
                        </div>
                        <label class="col-sm-1 control-label">@OABordrinCommon.Common.GetLanguageValueByParam("成本中心代码", "b_ExpenseReimbursement", "ERItemType", ViewBag.language)</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="b_CostCenter" placeholder="@OABordrinCommon.Common.GetLanguageValueByParam("必填项", "CommonName", "Common", ViewBag.language)" isnotnull="true" disabled="disabled" />
                        </div>
                        <label class="col-sm-1 control-label">@OABordrinCommon.Common.GetLanguageValueByParam("电话", "b_ExpenseReimbursement", "ERItemType", ViewBag.language)</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="b_Tel" placeholder="@OABordrinCommon.Common.GetLanguageValueByParam("必填项", "CommonName", "Common", ViewBag.language)" isnotnull="true" />
                        </div>
                    </div>
                    <div class="form-group" id="departmentLeaderInfo" style="display:none;">
                        <label class="col-sm-1 control-label">@OABordrinCommon.Common.GetLanguageValueByParam("高级经理", "b_ExpenseReimbursement", "ERItemType", ViewBag.language)</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="b_LineLeader" disabled="disabled" />
                        </div>
                        <label class="col-sm-1 control-label">@OABordrinCommon.Common.GetLanguageValueByParam("总监", "b_ExpenseReimbursement", "ERItemType", ViewBag.language)</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="b_DepartmentLeader" disabled="disabled" />
                        </div>
                        <label class="col-sm-1 control-label">VP</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="b_DivisionVP" disabled="disabled" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">@OABordrinCommon.Common.GetLanguageValueByParam("附件张数", "b_ExpenseReimbursement", "ERItemType", ViewBag.language)</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="b_AttachmentsQuantity" placeholder="@OABordrinCommon.Common.GetLanguageValueByParam("必填项", "CommonName", "Common", ViewBag.language)" isnotnull="true" />
                        </div>
                    </div>
                    <h5 style="font-weight: bold;border-bottom: 1px solid #bcbcbc;padding-bottom: 4px;text-align: left;">
                        @OABordrinCommon.Common.GetLanguageValueByParam("报销明细（非增值税专用发票，税率处请填写0）", "b_ExpenseReimbursement", "ERItemType", ViewBag.language)
                    </h5>
                    <div class="table-responsive">
                        <table id="ReimbursementItem" class="table table-bordered" style="text-align:left;min-width:1150px;">
                            <thead>
                                <tr>
                                    <th style="text-align: center; background-color: white;width:10%">@OABordrinCommon.Common.GetLanguageValueByParam("日期", "b_ReimbursementItem", "ERItemType", ViewBag.language)</th>
                                    <th style="text-align: center; background-color: white;width:10%">@OABordrinCommon.Common.GetLanguageValueByParam("费用类别名称", "b_ReimbursementItem", "ERItemType", ViewBag.language)</th>
                                    <th style="text-align: center; background-color: white;width:8%">@OABordrinCommon.Common.GetLanguageValueByParam("项目名称", "b_ReimbursementItem", "ERItemType", ViewBag.language)</th>
                                    <th style="text-align: center; background-color: white;width:8%">@OABordrinCommon.Common.GetLanguageValueByParam("预算编号", "b_ReimbursementItem", "ERItemType", ViewBag.language)</th>
                                    <th style="text-align: center; background-color: white;width:8%">@OABordrinCommon.Common.GetLanguageValueByParam("币种", "b_ReimbursementItem", "ERItemType", ViewBag.language)</th>
                                    <th style="text-align: center; background-color: white;width:6%">@OABordrinCommon.Common.GetLanguageValueByParam("汇率", "b_ReimbursementItem", "ERItemType", ViewBag.language)</th>
                                    <th style="text-align: center; background-color: white;">@OABordrinCommon.Common.GetLanguageValueByParam("原币单价", "b_ReimbursementItem", "ERItemType", ViewBag.language)</th>
                                    <th style="text-align: center; background-color: white;width:6%">@OABordrinCommon.Common.GetLanguageValueByParam("数量/人数", "b_ReimbursementItem", "ERItemType", ViewBag.language)</th>
                                    <th style="text-align: center; background-color: white;width:8%">@OABordrinCommon.Common.GetLanguageValueByParam("税率", "b_ReimbursementItem", "ERItemType", ViewBag.language)</th>
                                    <th style="text-align: center; background-color: white;width:8%">@OABordrinCommon.Common.GetLanguageValueByParam("税额", "b_ReimbursementItem", "ERItemType", ViewBag.language)</th>
                                    <th style="text-align: center; background-color: white;width:8%">@OABordrinCommon.Common.GetLanguageValueByParam("不含税金额", "b_ReimbursementItem", "ERItemType", ViewBag.language)</th>
                                    <th style="text-align: center; background-color: white;width:6%">@OABordrinCommon.Common.GetLanguageValueByParam("小计(人民币)", "b_ReimbursementItem", "ERItemType", ViewBag.language)</th>
                                    <th style="text-align: center; background-color: white;width:6%">@OABordrinCommon.Common.GetLanguageValueByParam("操作", "CommonName", "Common", ViewBag.language)</th>
                                </tr>
                            </thead>
                            <tbody id="ReimbursementItemTr">
                                <tr>
                                    <td>
                                        <input type="hidden" class="Id" />
                                        <input type="text" class="form-control b_Date" placeholder="@OABordrinCommon.Common.GetLanguageValueByParam("必填项", "CommonName", "Common", ViewBag.language)">
                                    </td>
                                    <td>
                                        <select class="form-control b_CategoryNumber"></select>
                                    </td>
                                    <td>
                                        <select class="form-control b_ProjectName"></select>
                                        @*<input type="text" class="form-control b_ProjectName">*@
                                    </td>
                                    <td>
                                        <input type="text" class="form-control b_BudgetNumber" placeholder="@OABordrinCommon.Common.GetLanguageValueByParam("必填项", "CommonName", "Common", ViewBag.language)">
                                    </td>
                                    <td>
                                        <select class="form-control b_Currency">
                                            <option>无</option>
                                            <option value="人民币">人民币</option>
                                            <option value="美元">美元</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control b_Rate" placeholder="@OABordrinCommon.Common.GetLanguageValueByParam("必填项", "CommonName", "Common", ViewBag.language)">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control b_OriginalCurrency" placeholder="@OABordrinCommon.Common.GetLanguageValueByParam("必填项", "CommonName", "Common", ViewBag.language)">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control b_Count" placeholder="@OABordrinCommon.Common.GetLanguageValueByParam("必填项", "CommonName", "Common", ViewBag.language)">
                                    </td>
                                    <td>
                                        <select type="text"  class="form-control b_TaxRate" ></select>
                                        @*<input type="text" class="form-control b_TaxRate" placeholder="@OABordrinCommon.Common.GetLanguageValueByParam("必填项", "CommonName", "Common", ViewBag.language)">*@
                                    </td>
                                    <td>
                                        <input type="text" class="form-control b_Tax" placeholder="@OABordrinCommon.Common.GetLanguageValueByParam("必填项", "CommonName", "Common", ViewBag.language)">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control b_TaxFreeAmount" placeholder="@OABordrinCommon.Common.GetLanguageValueByParam("必填项", "CommonName", "Common", ViewBag.language)">
                                    </td>
                                    <td>
                                        <label class="control-label b_CNYSubtotal"></label>
                                    </td>
                                    <td style="text-align:center;line-height:30px;">
                                        <a class="glyphicon glyphicon-plus AddReimbursementItem"></a>
                                        &nbsp;&nbsp;
                                        <a class="glyphicon glyphicon-minus deleteReimbursementItem"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">@OABordrinCommon.Common.GetLanguageValueByParam("合计(大写)", "b_ExpenseReimbursement", "ERItemType", ViewBag.language)</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="b_AmountInWords" disabled="disabled" />
                        </div>

                        <label class="col-sm-2 control-label">@OABordrinCommon.Common.GetLanguageValueByParam("合计(小写)", "b_ExpenseReimbursement", "ERItemType", ViewBag.language)</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="b_TotalAmount" disabled="disabled" />

                        </div>
                    </div>
                    <div id="editLoanItemDetails" style="display:none;">
                        <h5 style="font-weight: bold;border-bottom: 1px solid #bcbcbc;padding-bottom: 4px;text-align: left;">
                            @OABordrinCommon.Common.GetLanguageValueByParam("借款明细", "b_ExpenseReimbursement", "ERItemType", ViewBag.language)
                        </h5>
                        <div class="table-responsive">
                            <table id="LoanItem" class="table table-bordered" style="text-align:left;min-width:1150px;">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; background-color: white;">@OABordrinCommon.Common.GetLanguageValueByParam("借款单单号", "b_LoanItem", "ERItemType", ViewBag.language)</th>
                                        <th style="text-align: center; background-color: white;">@OABordrinCommon.Common.GetLanguageValueByParam("借款日期", "b_LoanItem", "ERItemType", ViewBag.language)</th>
                                        <th style="text-align: center; background-color: white;">@OABordrinCommon.Common.GetLanguageValueByParam("借款人", "b_LoanItem", "ERItemType", ViewBag.language)</th>
                                        <th style="text-align: center; background-color: white;">@OABordrinCommon.Common.GetLanguageValueByParam("借款金额", "b_LoanItem", "ERItemType", ViewBag.language)</th>
                                        <th style="text-align: center; background-color: white;">@OABordrinCommon.Common.GetLanguageValueByParam("借款事由", "b_LoanItem", "ERItemType", ViewBag.language)</th>
                                    </tr>
                                </thead>
                                <tbody id="LoanItemTr">
                                    <tr>
                                        <td>
                                            <input type="hidden" class="Id" />
                                            <input type="text" class="form-control b_LoanOrderNo" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control b_Date" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control b_Borrower" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control b_LoanAmount" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control b_LoanReason" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <h5 style="font-weight: bold;border-bottom: 1px solid #bcbcbc;padding-bottom: 4px;text-align: left;">
                        @OABordrinCommon.Common.GetLanguageValueByParam("总计", "b_ExpenseReimbursement", "ERItemType", ViewBag.language)
                    </h5>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">@OABordrinCommon.Common.GetLanguageValueByParam("向公司预支现金", "b_ExpenseReimbursement", "ERItemType", ViewBag.language)</label>
                        <div class="col-sm-3">
                            <label class="control-label" name="b_AdvancedAmount"></label>
                        </div>
                        <label class="col-sm-1 control-label">@OABordrinCommon.Common.GetLanguageValueByParam("总费用", "b_ExpenseReimbursement", "ERItemType", ViewBag.language)</label>
                        <div class="col-sm-3">
                            <label class="control-label" name="b_TotalExpense"></label>
                        </div>
                        <label class="col-sm-1 control-label">@OABordrinCommon.Common.GetLanguageValueByParam("合计金额", "b_ExpenseReimbursement", "ERItemType", ViewBag.language)</label>
                        <div class="col-sm-3">
                            <label class="control-label" name="b_DueCompany"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">@OABordrinCommon.Common.GetLanguageValueByParam("历史备注", "b_ExpenseReimbursement", "ERItemType", ViewBag.language)</label>
                        <div class="col-sm-11">
                            <label name="OldRemark">

                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">@OABordrinCommon.Common.GetLanguageValueByParam("备注", "b_ExpenseReimbursement", "ERItemType", ViewBag.language)</label>
                        <div class="col-sm-11">
                            <textarea class="form-control" cols="4" rows="4" name="b_Remark"></textarea>
                        </div>
                    </div>
                    <br />
                    <div id="ExpenseReimbursementFiles">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">@OABordrinCommon.Common.GetLanguageValueByParam("附件", "CommonName", "Common", ViewBag.language)</label>
                            <div class="col-sm-11" style="margin-top:5px;">
                                <div id="fileList">
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3">
                                        <input type="file" id="Erfile" />
                                    </label>
                                    <div class="col-sm-9">
                                        <button class="btn btn-primary" type="button" id="upload" style="height:20px;line-height:8px;">@OABordrinCommon.Common.GetLanguageValueByParam("上传", "CommonName", "Common", ViewBag.language)</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-white" type="button" data-dismiss="modal" id="btnClose">@OABordrinCommon.Common.GetLanguageValueByParam("关 闭", "CommonName", "Common", ViewBag.language)</button>
                <button class="btn btn-primary" type="button" id="SaveExpenseReimbursement" operation="save">@OABordrinCommon.Common.GetLanguageValueByParam("保 存", "CommonName", "Common", ViewBag.language)</button>
                <button class="btn btn-success" type="button" id="SubmitExpenseReimbursement" operation="submit">@OABordrinCommon.Common.GetLanguageValueByParam("提 交", "CommonName", "Common", ViewBag.language)</button>
                <button class="btn btn-primary" type="button" id="AuditApprove">@OABordrinCommon.Common.GetLanguageValueByParam("同 意", "CommonName", "Common", ViewBag.language)</button>
                <button class="btn btn-danger" type="button" id="SendRefuse">@OABordrinCommon.Common.GetLanguageValueByParam("驳 回", "CommonName", "Common", ViewBag.language)</button>
                <button class="btn btn-success" type="button" id="SendHangUp">@OABordrinCommon.Common.GetLanguageValueByParam("挂 起", "CommonName", "Common", ViewBag.language)</button>
                <button class="btn btn-warning" type="button" id="TurnToDo">@OABordrinCommon.Common.GetLanguageValueByParam("转 办", "CommonName", "Common", ViewBag.language)</button>
            </div>
        </div>
    </div>
</div>
